*{
  margin: 0px;
  padding: 0px;
}
.timer-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.time{
  font-size: 55px;
  text-align: center;
  padding-bottom: 30px;
}
.timer{
  text-align: center;
  padding-top: 20px;
}
.start-btn{
  background-color: green;
  color: white;
  padding: 5px 20px;
  border-width: 0px;
  margin: 15px 15px;
  border-radius: 5px;
}
.stop-btn{
  background-color: red;
  color: white;
  padding: 5px 20px;
  border-width: 0px;
  margin: 15px 15px;
  border-radius: 5px;
}
.reset-btn{
  background-color: orange;
  color: white;
  padding: 5px 20px;
  border-width: 0px;
  margin: 15px 15px;
  border-radius: 5px;
}
.timer-shadow{
  box-shadow: 5px 5px 5px white;
  background-color: white;
  border-radius: 15px;
}



